<%- include("../partials/header") %>

<% cuisine.recipes.forEach((r) => { %>
    <h1>Cuisine:<%=r.cuisine%></h1>
<h2>Dish Name:<%=r.Dish%></h2>
<h3>Time:<%=r.Time%></h3>
<h4>Ingredents:<%=r.Ingredents%></h1>
<h5>Steps:<%=r.Steps%></h5>
<% }) %>

<%- include("../partials/footer") %>