<%- include("../partials/header") %>
<div class="center">
    <h1>All Reviews</h1>

<% userReviews.reviews.forEach((r) => { %>
    <h2><%= r.heading %></h2>
    <h3><%= r.detail %></h3>
    <h3><%= r.rate %></h3>
<% }) %>
</div>
<%- include("../partials/footer") %>