<%- include("../partials/header") %>

<% userReviews.reviews.forEach((r) => { %>
    <h2><%= r.heading %></h2>
    <h3><%= r.detail %></h3>
    <h3><%= r.rate %></h3>
<% }) %>
<%- include("../partials/footer") %>