<%- include('../partials/header') %>
<div class="center">

<h1>Recipes</h1>
<% allRecipes.forEach((c) =>{%>

<<<<<<< HEAD
  <a href="/recipes/<%=c._id%>">  <p><%=c.Dish%></p>
  </a>
  <%})%>
<%- include('../partials/footer') %>
=======
<a href="/recipes/<%=c._id%>">  <p><%=c.Dish%></p>
</a>
<%})%>
</div>
<%- include('../partials/footer') %>
>>>>>>> 98e9c8ce3cc01164bfcfd310d999f4e2b2228fc8
