<%- include("../partials/header")%>

<h1>Heading:<%=findIt.heading%></h1>
<h2>Detail:<%=findIt.detail%></h2>
<h3>Rate:<%=findIt.rate%></h3>

<a href="/edit/<%=findIt._id%>">Edit</a>
    
<%- include("../partials/footer")%>
