<%- include("../partials/header")%>

<h1>Heading:<%=findIt.heading%></h1>
<h2>Detail:<%=findIt.detail%></h2>
<h3>Rate:<%=findIt.rate%></h3>

<a href="/edit/<%=findIt._id%>">Edit</a>
<form action="/deleteit/<%=findIt._id%>?_method=DELETE" method="POST">
  <input type="hidden" name="repass" value="<%=hiddenID%>">
<button>Delete it</button></form>

    
<%- include("../partials/footer")%>
