<%- include('../partials/header') %>


<h1>Cuisine:<%=recipe.cuisine%></h1>
<h2>Dish Name:<%=recipe.Dish%></h2>
<h3>Time:<%=recipe.Time%></h3>
<h4>Ingredents:<%=recipe.Ingredents%></h1>
<h5>Steps:<%=recipe.Steps%></h5>


<form action="/recipe/<%=recipe._id%>/addReview" method="POST">
    <label> Enter the title of Review <br>
    <input type="text" name="heading" placeholder="Title">
    </label><br>
    <label> Write the Review <br> 
        <input type="text" name="detail" placeholder="eview">
    </label><br>
    <label> Rate it <br>
        <select name="rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </label>
    <input type="submit">

</form>
<form action="/recipe/<%=recipe._id%>?_method=DELETE" method="POST">
  <button type="submit">Delete Recipe</button></form>
<%recipe.reviewon.forEach((re)=>{%>
  <%=re.heading%>
  <%=re.rate%>
  <a href="/review/<%= re._id %>">Details</a>
  <%})%>

<<<<<<< HEAD

<!-- Deleting -->

<form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
</form>

<%- include('../partials/footer') %> 
=======
  <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
  
<%- include('../partials/footer') %>
>>>>>>> 83a770744f76de74ae063a7a324622c75c535b83
