<%- include('../partials/header') %>

<h1>Cuisine:<%=recipe.cuisine%></h1>
<h2>Dish Name:<%=recipe.Dish%></h2>
<h3>Time:<%=recipe.Time%></h3>
<h4>Ingredents:<%=recipe.Ingredents%></h1>
<h5>Steps:<%=recipe.Steps%></h5>

<%- include('../partials/footer') %>
